*{
    box-sizing: border-box;
}
*::before,
*::after{
    box-sizing: border-box;
}
@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
body{
    /*overflow:hidden;*/
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
img{
   min-width: 100%;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset{
    padding: 0;
    border: none;
    font-family: 'Poppins',sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.container{
    max-width: 1140px;
    padding: 15px;
    margin: 0 auto;
}

.link{
    display: inline-flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: none;
    color: #D4D6D4;
    transition: color 0.3s ease-in-out;
}


.link svg{
    width: 10px;
    height: 10px;
    fill: currentColor;
    transform: translateY(3px);
}

.link span{
    text-indent: 10px;
    border-bottom: 1px solid currentColor;
}

.link:hover{
    color: #FFD723;
}

.site-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.burger{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 26px;
    background: #F5F6F7;
    border-radius: 100%;
    padding: 14px 11px;
    line-height: 5px;
}

.burger-line{
    display: inline-block;
    width: 18px;
    height: 1.8px;
    left: 1246px;
    top: 50px;
    background: #000000;
    vertical-align: super;
    
}
.hero{
    padding-top: 189px ;
    padding-bottom: 210px;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content{
    max-width: 616px;
}
.hero-subtitle{
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-title{
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
}

.hero-descr{
    margin: 0;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.hero-link{
    color: #FFD723;
}

.services{
    padding-top: 150px;
    padding-bottom: 15px ;
}
.services-title{
    margin: 0;
    margin-bottom: 60px;
    max-width: 606px;
}

.services-list{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.services-subtitle{
    margin: 0;
    margin-bottom: 20px;
    max-width: 183px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-descr{
    margin: 0;
    margin-bottom: 56px;
    max-width: 194px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.services-item{
    display: flex;
    flex-direction: column;
}

.services-link{
    margin-bottom: 0;
    margin-top: auto;
}

.get-started{
    position: relative;
    top: 180px;
    padding: 70px 0;
    width: 90%;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title{
    margin: 0;
    margin-bottom: 50px;
    max-width: 822px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
}

.get-started-link{
    text-transform: uppercase;
}
.footer{
    padding-top: 300px;
    color: #FFFFFF;
    background-image: url("/img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 52px;
    border-bottom: 1px solid #5D6544;
}

.footer-contacts-item:not(:last-child){
    margin-right: 128px;
}
.footer-contacts-text{
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.footer-contacts-value{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-middle{
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #5D6544 ;
}

.footer-column:last-child{
    padding-left: 110px;
    border-left: 1px solid #5D6544;
}

.footer-title{
    margin: 0;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-link{
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #B6C197;
}

.footer-mail{
    display: inline-block;
    margin-top: 23px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-decoration:none;
    color: #FFFFFF;
}

.social{
    display: flex;
    align-items: center;
}

.sotial-item{
    margin-right: 11px;
}
.social-link{
    display: block;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    background-color:  #5E6648;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px auto;
}

.social-link-fb{
    background-image: url("../img/fb.png");
}
.social-link-tw{
    background-image: url("../img/tw.png");
}
.social-link-g{
    background-image: url("../img/g+.png");
}
.social-link-in{
    background-image: url("../img/in.png");
}

.copyright{
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

.footer-bottom{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}